asgiref==3.7.2
backports.statistics==0.1.0
colorama==0.4.6
cryptography==41.0.7
cx_Oracle==8.3.0
Cython==3.0.7
dl==0.1.0
ipaddr==2.2.0
keyring==24.3.0
mypy_extensions==1.0.0
numpy==1.15.0
objgraph==3.6.0
ordereddict==1.1
psutil==5.9.0
pysqlcipher3==1.2.0
pytest==7.4.3
python-dotenv==1.0.0
sqlcipher3==0.5.2
watchdog==3.0.0
wincertstore==0.2.1
gunicorn
